@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white text-black dark:bg-black dark:text-[#f4eeee];
  display: grid;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100vh;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.app-container {
  @apply w-full px-4 md:px-20;
}
.p-listbox:not(.p-disabled)
  .p-listbox-item:not(.p-highlight):not(.p-disabled).p-focus {
  color: #4b5563;
  background: black !important;
}
